/* Basic page styling */
* {
    box-sizing: border-box;
}

body {
    background: url("https://tse2.mm.bing.net/th?id=OIP.vhN8VXjbWYzQ0MzG0AtpnAHaEL&pid=Api&P=0&h=220") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

/* Styling for the main title */
h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

/* Main game container */
#game-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
}

/* Alphabet and message section */
#alphabet-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    padding: 20px;
    background-color: rgba(44, 62, 80, 0.8);
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

/* Styling for individual letter buttons */
.btn-letter {
    font-size: 1.5rem;
    margin: 5px;
    padding: 15px 20px;
    background-color: #34495e;
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-letter:hover {
    background-color: #1abc9c;
    color: #2c3e50;
}

/* Input section */
#input-section {
    margin-left: 40px;
}

/* General button styling */
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #34495e;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #1abc9c;
    color: #2c3e50;
    transform: scale(1.05);
}

/* Message and hint description */
#message, #hint-description {
    color: #ecf0f1;
    font-size: 1.8rem;
    margin-top: 20px;
}

/* Restart button */
#restart-game {
    background-color: #27ae60;
    border-radius: 5px;
    padding: 10px 20px;
}

#restart-game:hover {
    background-color: #2ecc71;
}
